@media (min-width: 787px) {
    .category-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 30%;
        border: 1px solid black;
        margin: 0 7.5px 15px ; // Top , right and left, bottom
        flex: auto;
        text-align: center;
        height: 20rem;
        position: relative;
        // padding: 50px 0px;


        &:hover {
            cursor: pointer;

            & .background-image {
                transform: scale(1.01);
                transition: transform 0.5s ease-out;
            }

            & .category-container-body {
                opacity: 1;
                transition: opacity 1s;
            }
        }
        
    
        .background-image{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
    
        }
    
        .category-container-body{
            padding: 0 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px black solid;
            background-color: white;
            opacity: 0.8;
            position: absolute;
        }
    
        
    }
}

@media (467px <= width <= 786px) {
    
    
    .category-container {

        .background-image{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: top center;
    
        }
    }
    
}



.category-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    border: 1px solid black;
    margin: 0 7.5px 15px ; // Top , right and left, bottom
    flex: auto;
    text-align: center;
    height: 20rem;
    position: relative;
    // padding: 50px 0px;
    

    .background-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

    }

    .category-container-body{
        padding: 0 12px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px black solid;
        background-color: white;
        opacity: 0.8;
        position: absolute;
        line-height: 10px;

        p {
            font-size: medium;
        }

        h1 {
            font-size: medium;
            text-transform: uppercase;
        }
    }

    
}
